<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>links}}
</head>
<body>
    {{>navbar}}
    <div class="main">
        <div class="container mx-auto row">
			<div class="col-md-6 col-12 d-flex justify-content-center align-items-center flex-column">
            <figure>
                <img src="https://source.unsplash.com/1600x900/?about us" alt="err" class="img-fluid">
            </figure>         
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-center align-items-start flex-column">
				<h4>Welcome to The  About us Page</h4>
				<h1 class="my-5">Know everthing <span> About US </span> and the <span>Whether</span> Info Of Your City</h1>
				<button class="btn btn-lg align-content-start">Know More</button>
			</div>
		</div>
    </div>    
    {{>footer}}
</body>
</html>